:root {
    --accent-color-main: rgb(32, 116, 172);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f5f1f1;
}

#vhs {
    padding-left: 15px;
    color: var(--accent-color-main);
    text-align: left;
}

#timer {
    margin-top: -18px;
    padding-right: 15px;
    text-align: right;
    color: var(--accent-color-main);
}

.btn {
    color: rgb(243, 225, 165);
    background-color: var(--accent-color-main);
    border-radius: 5px;
    margin: 2px;
    width: 250px;
    height: 50px;
} 
.btn:hover {
    background-color: rgb(23, 97, 146);
    cursor: pointer;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}
.btn:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.q1, .fin {
    display: none;
}

